// ### Primary
//
// - Very dark blue (main background): hsl(233, 47%, 7%)
// - Dark desaturated blue (card background): hsl(244, 38%, 16%)
// - Soft violet (accent): hsl(277, 64%, 61%)
//
// ### Neutral
//
// - White (main heading, stats): hsl(0, 0%, 100%)
// - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
// - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparent-white__paragraph: hsla(0, 0%, 100%, 0.75);
$transparent-white__stat-heading: hsla(0, 0%, 100%, 0.6);

$colors: (
  'very-dark-blue': $very-dark-blue,
  'dark-desaturated-blue': $dark-desaturated-blue,
  'soft-violet': $soft-violet,
  'white': $white,
  'transparent-white__paragraph': $transparent-white__paragraph,
  'transparent-white__stat-heading': $transparent-white__stat-heading
);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

  .#{$key} {
    color: $value;
  }
}
